/**********************************
 Practica 0205
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

body 
{
    font-family: verdana, sans-serif; 
    font-size: small;
}

#header 
{ 
    height: 70px;   /* alto del header 15 + 70 + 15 = 100px */
    background: #CCC; 
    line-height: 70px;  /* centro. Unicamente vale si tengo una línea de texto */
    padding: 15px;
}

#footer 
{
    padding: 15px; 
    background: #CCC; 
    margin-right: 30%;
    margin-left: 5%; /* mantengo el pie de página alineado con el contenido principal */
}

h2, ul, p 
{
    padding: 5px 8px; 
}

li 
{
    list-style: none; 
    margin: 10px 0; 
}

li:first-line, p:first-line
{
    font-weight: 900;
}

#main 
{
    margin-right: 30%; /* hago espacio para el barra lateral */
    margin-left: 5%;
    background-color: aqua;
}

#extras /* creo un contenedor para mantener juntos los dos elementos (biography y links) */
{
    position: absolute;
    top: 100px; /* la altura de la cabecera */ 
    right: 0px;
    width: 25%;
}

#biography
{
    background-color: sienna;
}

#links
{    
    background-color: floralwhite;
}

